/*
    Extra small devices (portrait phones, less than 576px)
    No media query for `xs` since this is the default in Bootstrap

    Small devices (landscape phones, 576px and up)
*/
@media (min-width: 576px) {


  h2::after {
    margin: 0.7rem auto;
    margin-bottom: 1.5rem;
  }

  .section-title {

    text-align: center;
  }

  .why-title {
    width: 30%;
  }

  #form-container {
    width: 70%;
  }

  h1,
  header p {
    zoom: 1.1;
  }

  .mobile-nav-icon i {
    display: none;
  }

  .main-nav {
    display: block;
  }

  .main-nav li {
    display: inline-block;
    margin-right: 1.1rem;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    font-size: 1rem;
    ;
  }

  .contact-wrapper {
    width: 95%;
  }
}

/*    // Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .main-nav li a:link,
  .main-nav li a:visited {
    font-size: 1.2rem;
    ;
  }

  .section-title {
    width: 70%;
  }

  .card-title {
    font-size: 1.1rem;
  }

  #form-container {
    width: 40%;
  }

  .contact-wrapper {
    width: 75%;
  }
}

/*    // Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .main-nav li a:link,
  .main-nav li a:visited {
    font-size: 1.3rem;
    ;
  }


  #form-container {
    background-color: rgba(0, 0, 0, 0.38);
    width: 30%;
    margin-top: 2rem;
    animation: moveUp 1s ease-out;
    position: absolute;
    right: 5%;
    bottom: 30%;
  }

  h1,
  header p {
    zoom: 1.2;
  }

  .contact-wrapper {
    width: 55%;
  }

  .parallax {
    display: block;
  }

}

/*    // Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #form-container {
    width: 20%;
  }

  h1,
  header p {
    zoom: 1.4;
  }

  .contact-wrapper {
    width: 50%;
  }
}
